<html>

<head>


</head>

<body>

 <div id="container"><%-content%></div>

</body>


</html>

<script>
 <%# did not change this line %>
 var _data = <%-data%>;
</script>

<script src="/dist/bundle.js"></script>
